%ul
	- current_user.all_uploads.each do |upload|
		%li= link_to upload.file_file_name, upload.file.url

= form_for UserUpload.new do |f|
	= f.label :file
	%br
	= f.file_field :file
	%br
	= f.submit 'upload'